body {
  background-color: #dddddd;
  color: #823b3b;
    margin: 0;
}
header {
  background-color: #962228;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-content-block {
  background: rgba(170,170,170,0.6);
  padding : 22px;
  text-align: center;
}

.header-content-block h1 {
  font-size: 4.25em;
}

#bio {
  min-height: 45vh;
  display: flex;
  align-items: center;
}

#bio h1 {
  display: none;
}

.bio-content-block {
  max-width: 960px;
  margin: 0 auto;
  columns: 2;
}

#comp {
  background-color: #9acbb5;
  color : #fff;
}

.comp-section-content {
 display: flex;
 justify-content: space-around;
}

.comp-content {
  background-color: #334444;
  width : auto;
  margin : 20px;
}

.comp-content p {
  padding: 1em;

}

.comp-content img {
  width : 100%;
}

.comp-content a {
  display: block;
  padding : 1em;
  float: right;
}

#portfolio {

}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.portfolio-content-item {
  border: 2px solid #334444;
  max-width: 480px;
  margin : 20px;
  position : relative;
}

.portfolio-content-item h2 {
  position: absolute;
  top : 50%;
  left : 50%;
  border: 1px solid red;
}

.portfolio-content-item img {
  width : 100%;
}

section {

  padding: 2em;
}

footer{
  background-color: #962228;
  color: #dddddd;
  padding: 2em;
  position: relative;
}
footer::before {
  background-color: #962228;
  content: " ";
  display:block;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 100%;
}


.nastyadvert {
  background-color: #000;
  color: #fff;
  min-height: 90vh;
  background-image: url(Fitzroy.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}



.nastyadvert h1 {
  font-size: 4em;
  font-family: 'Bree Serif', serif;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.mywork ul{
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mywork li{
  max-width: 20%;
  margin: 1em;

}

.mywork img{
  width: 80%;
}

header::after {
  background-color: #962228;
  content: " ";
  display:block;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)  rotate(45deg);
}
