body {
  background-color: #dddddd;
margin : 0;
}

.navbar {
	font-weight: 700;
  color: #fff;
  background-color: transparent;
  margin-top: 0px;
  margin-right: 0px;
  text-decoration: none;
  position: fixed;
  top: 10px;
  right: 50px;
  letter-spacing: 1px;

}


.navbar-nav{
  display: flex;
}

#portfolio {

  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50vh;
  margin: 0;
  display: flex;
  position : relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


}

#portfolio img {
  margin: 20px;
  width: 300px;
}

#typo {

  background-color: #d6d6d6;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  display: flex;
  position : relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 50px;
  padding-left: 50px;

}

#typo img {
  margin: 20px;
  width: 300px;
}

#logo {

  background-color: #d6d6d6;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  display: flex;
  position : relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 250px;
  padding-left: 250px;



}

#logo img {
  margin: 15px;
  width: 220px;
}

li{
  margin-left: 20px;
  text-decoration: none;
  list-style: none;

}
a{
  text-decoration: none;
  padding-bottom: 2px;
}

.active {
  text-decoration: none;
  border-bottom: 2px solid #fff;
  padding-top:  10px;
}

.navbar-nav > li > a {
	color: #fff;

}


header {
  background-color: #000;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-size: 10px;

}

header1 {
  background-color: #000;
  height: 30vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
    font-size: 6px;

}





.header-content-block {
    padding : 20px;
  text-align: center;
}


.header-content-block h1 {
  font-size: 6.25em;
  padding-top: 30px;
}

.header-content-block p {
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.8em;
  padding-bottom: 10px;
}

#bio {
  min-height: 35vh;
  display: flex;
  align-items: center;
}

#bio h1 {
  display: none;
}

.bio-content-block {
  max-width: 500px;
  margin: 0 auto;
  columns: 1;
  text-align: justify;
}

#comp {
  background-color: #ededed;
  color : #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.comp-section-content {
 display: flex;
 justify-content: center;
 flex-flow: wrap;
 max-width: 1024px;
 margin: 0 auto;
}

.comp-content:hover{
  opacity: 0.5;
}

.comp-content {
  transition : 0.3s ease;

}

.comp-content {
  width : auto;
  margin : 20px;
  position : relative;
  width: 250px;
}


.comp-content.bao {
  background: transparent url(../images/800x800/travail1.jpg) no-repeat center center;
  background-size: cover;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp-content img {
  width : 100%;
  height: 100%
  background: rgba(255,255,255,.2);
}

.comp-content a {
  display: block;
  padding : 0;
  line-height: 338px;
  text-align: center;
    text-decoration: none;
}

.comp-content.base {
  background: transparent url(../images/800x800/base.jpg) no-repeat center center;
  background-size: cover;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp-content.illustration {
  background: transparent url(../images/800x800/illu.jpg) no-repeat center center;
  background-size: cover;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp-content.calmelectron {
  background: transparent url(../images/800x800/travail1.jpg) no-repeat center center;
  background-size: cover;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp-content.edition {
  background: transparent url(../images/800x800/travail1.jpg) no-repeat center center;
  background-size: cover;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp-content.identité {
  background: transparent url(../images/800x800/travail1.jpg) no-repeat center center;
  background-size: cover;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}







.comp-content p {
  padding: 0;

}

.comp-content img {
  width : 300px;
  height: 100%

}

.comp-content a {
  display: block;
  padding : 0;
  line-height: 300px;
  text-align: center;
  text-decoration: none;

}






.nastyadvert {
  background-color: #000;
  color: #fff;
  min-height: 90vh;
  background-image: url(Fitzroy.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nastyadvert1 {
  background-color: #000;
  color: #fff;
  min-height: 70vh;
  background-image: url(base.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nastyadvert2 {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  background-image: url(affiche.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nastyadvert3 {
  background-color: #000;
  color: #fff;
  min-height: 70vh;
  background-image: url(tupac.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;

}






.nastyadvert h1 {
  font-size: 4em;
  font-family: 'Bree Serif', serif;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}





.insta {
width: 40px;
flex-basis: 100%;
display: flex;
justify-content: center;
align-items: center;

}
.instaimg{
  width: 40px
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-lg-4 {
position: relative;
min-height: 2px;
padding-right: 15px;
padding-left: 15px;
margin: 20px;
}





#footerwrap {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #2f2f2f;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex

}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 5px;
}
